*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: auto;
    width: 95%;
    border: 1px solid black;
    margin: auto;
}
.navbar_section{
    height: 50px;
    width: 95%;
    /* border: 1px solid red; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: auto;
}
.navbar a{
    font-size: 1.2em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-right: 1.3em;
    border: 1px solid black;
    padding: 0 1.2em;
    transition: all .5s ease-in-out ;
    border-radius: 5px;
}
.navbar a:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
}
.profile_section{
    height: 600px;
    width:95%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile_info{
    height: auto;
    width: 100%;
}
.name h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.profile_image img{ 
    height: 600px;
    width: 450px;
}
.profile_info h1{
    font-size: 3em;
    font-family: "Bebas Neue", sans-serif;
}
.icon img{
    width: 50px;
    /* height: 50px; */
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}
.profile_info h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content{
    height: auto;
    width: 100%;
    display: flex;
    justify-content:space-between;
    /* align-items: center; */
    margin: auto;
}

.about h1{
    display: block;
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.bio{
 /* border-right: 1px solid black; */
 height: 400px;
 width: 50%;
}
.bio p{
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;
}

.skills{
    height: auto;
    width: 50%;
    margin: 2em;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;

}
.skills p{
font-size: 1.3em;
font-family: Arial, Helvetica, sans-serif;
margin-left: 3em;
}
.bio p{
    display: flex;
    font-size: 1.5em;
}
.skills p{
    margin: 1em;
    margin-left: 3.5em
}
    .hardskills img{
        margin: 10px 20px
    }
    .hardskills{
        margin: 100px 50px
    }
.hardskills p{
    font-size: 2em;
    text-align: center;
}
.Projects h1{
    text-align: center;
}
.projectfigma img{
height: auto;
width: 75%;
display: flex;
margin: 50px;

}
.project_brief{
   font-size: 1.2em;
   margin: 100px;
}
.project_image{
    display: flex;
    height: auto;
    width: 100%;
    border: 1px solid violet;
}
.project_figma{
    height: 100%;
    width: 35%;
}

#btn{
    width: 9em;
    height: 2.5em;
    border: 1px solid black;
    text-align: center;
    float: right;
    /* padding: ; */
    background-color: lightskyblue;
}